@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0 auto;
    box-sizing: border-box;
}


.header {
    padding: 20px 0;
     background-color: #f0fff0;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    display: flex;
}

.menu-bar {
    display: flex;
    justify-content: center;
    gap: 20px;
}



.nav-links {
    display: flex;
    gap: 10px;
    list-style: none;
    text-decoration: none;
}

.nav-links a {
    color: black;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 20px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: ease-in-out 0.3s;

}

.nav-links a:hover {
    color: #fd511a;

}

.btn-sign {
    padding: 10px 20px;
    margin: auto;
    border-radius: 30px;
    background-color: #21b573;
    color: white;
    border: 0px;
    font-size: medium;
    font-weight: 200;
    transition: ease-in-out 0.3s;
}

.btn-sign:hover {
    background-color: #fd511a;
    cursor: pointer;
    ;
}

/* Banner section */

.schedule {
    color: #21B573;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    flex-wrap: wrap;
    align-items: center;
     background-color: #f0fff0;
}


.learn {
    color: red;
    margin:10px 0 20px;
    font-family: "poppins regular", sans-serif;
    font-size: small;
}

.srt-btn {
    margin-bottom: 30px;
    }

.start {
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: #21b573;
    color: white;
    border: 0px;
    font-weight: 200;
    transition: ease-in-out 0.3s;
    text-decoration: none;
    font-family: "poppins";
    
}

.start:hover {
    background-color: #fd511a;
    cursor: pointer;
}

.learn-fun {
    margin-bottom: 20px;
    font-family: "poppins", sans-serif;
    font-weight: bold;
}

.opening {
    margin: 0 30px;
    align-items: flex-start;
    font-family: "Poppins", sans-serif;
    ;
}

.banner {
    width: 100%;
    height: max-content;
}



/* Achievement section */

.achieve {
    margin: 0 100px;
}

.achieve .container {
    display: flex;
    padding: 40px 0;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #f0fff0;
    padding: 30px;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    border-radius: 10px;
    transition: ease-in-out 0.3s;


}

.achieve .container img {
    padding-bottom: 20px;
}

.main-card:hover {
    background-color: white;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title,
.container p {
    font-family: "poppins";
}


/* Courses */

.courses {
    padding-bottom: 30px;
    font-family: "poppins";


}

.courses button {
    border-radius: 30px;
    max-width: fit-content;
    padding: 10px 20px;
    color: white;
    background-color: #21b573;
    border: 0;
    transition: ease-in-out 0.3s;
    margin: 10px 0;
}

.courses button:hover {
    background-color: #fd511a;
}

.courses h1 {
    display: flex;
    font-family: "poppins";
    font-weight: bold;
    justify-content: center;
    padding: 5px 0 50px;
}

.all-course {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding-bottom: 50px;


}

.all-course h5 {
    font-weight: 400;
    padding: 5px 0;
}

.all-course h3 {
    font-weight: 600;
    padding: 10px 0;
}

.date-seat {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;

}

.date,
.seats {
    display: flex;
    font-weight: 500;
    font-size: small;
    align-items: center;
    justify-items: center;
}

.course-one,
.course-two,
.course-three {

    padding: 30px 10px 10px;
    border-radius: 20px;
    border: white;
    transform: scale(1.05);
    box-shadow: 0 08px 16px rgba(0, 0, 0, 0.2);
}

/* testimonial */
.testimonial {
    display: flex;
    font-family: "poppins";
    font-weight: bold;
    justify-content: center;
    padding: 5px 0 10px;
}

.review {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 100px;
    justify-content: center;
}

.testimonial-sec p {
    max-width: 60%;
    justify-content: center;
    align-content: center;
    margin: 10px;
    font-family: "poppins";
}

.profile {
    min-width: 150px;
}

.profile p {
    color: black;
}

/* footer  */

.footer {
    display: flex;
    background-color: #282531;
    padding: 50px;
    justify-content: space-between;
}

.main-footer {
    font-family: "poppins";
    color: rgb(0, 0, 0);
}

.para-div {
    color: white;
    max-width: 30%;
    text-align: justify;
    font-weight: 500;
    font-size: small;
    font-family: "poppins";
    color: white;
    justify-content: center;
}

footer ul,
footer a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.top {
    font-weight: bold;
    padding: 0 0 10px;
}

footer li {
    margin-bottom: 5px;
}

.final-para {
    color: white;
    background-color: #282531;
    text-align: center;
    padding-bottom: 5px;
}